<%- include('partials/header', {
    title: '404 page !'
}) %>

<body>
    <main class="error">
        <p>Eh !...<span>Arrêtes de boire, ce cocktail n'existe pas...</span></p>
      <a href="/">Retourne à la liste de cocktail</a>
      </main>
    
</body>

<%- include('partials/footer') %>
