<%- include('partials/header', {
    title: 'Type de cocktail'
}) %>

<body>
    <nav>
        <h1>
          <a href="/">Liste des cocktails</a>
        </h1>
      </nav>

  
      <ul>
        <% cocktails.forEach(cocktail => { %>
            <li><a href="typeName/<%= cocktail.name %>"><%= cocktail.name %></a></li>
        <% }); %>

    </ul> 
</body>

<%- include('partials/footer') %>