nav {
  margin: 20px;
  padding: 20px;
}

nav a {
  color: #000;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 3px;
  box-shadow: 0 2px 3px #000;
  font-weight: bolder;
  text-decoration: none;
  padding: 10px;
}

h1 {
  text-align: center;
  font-size: 3em;
  font-weight: bold;
  text-shadow: 3px 3px 3px #ccc;
}

h2 {
  text-decoration: underline;
}

.box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

img {
  width: 200px;
  height: 200px;
  border: 3px solid #000;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 3px #000;
  filter: grayscale(0) blur(0);
  transition: all 0.5s ease;
}
img:hover {
  border-radius: 50%;
  transform: rotate(360deg);

}

.boxDetail h3 {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.recette {
  text-align: center;
}

ul {
  text-align: center;
  list-style-position: inside;
}

.error {
    width: 100%;
    height: 100vh;
    background-image: url(https://i.ytimg.com/vi/_PmBL3YX1dc/maxresdefault.jpg);
    background-size: cover;
    background-position: center;
  }
  .error p {
    font-size: 10rem;
    text-transform: uppercase;
    color: #fff;
    margin: 0 auto;
  }
  .error span {
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #fff;
  }
  .error a {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.4);
    padding: .5rem;
    border-radius: 3px;
    box-shadow: 0 2px 3px #000;
    margin-left: 10%;
  }
  .error a:hover {
    box-shadow: 0 1px 1px #000;
  }

  footer {
    color: #fff;
    font-size:.5em;
    background-color: #000;
    height: 60px;
  }
  .footer {
    padding: 10px;
    margin: 10px;
    text-align: center;
  }